<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
  <a class="navbar-brand" href="#">Dating App</a>
  <ul class="navbar-nav mr-auto" *ngIf="loggedin()">
    <li class="nav-item " routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/members']"  >Matches <span class="sr-only"></span></a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/lists']"  >Lists</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/messages']" >Messages</a>
    </li>
    
  </ul>
  

  <div class="dropdown show" *ngIf="loggedin()" dropdown>
    <a class="btn btn-secondary dropdown-toggle" dropdownToggle  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Welcome {{auth.tokenDecoded?.unique_name | titlecase}}
    </a>
  
    <div class="dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
    </div>
  </div>




  <form #LoginForm="ngForm" *ngIf="!loggedin()" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
    <input class="form-control mr-sm-2" required name="username" type="text" placeholder="User"
      [(ngModel)]="model.username">
    <input class="form-control mr-sm-2" required name="Password" type="password" placeholder="Password"
      [(ngModel)]="model.Password">
    <button class="btn btn-secondary my-2 my-sm-0" [disabled]="LoginForm.invalid" type="submit">Login</button>
  </form>
</div>
</nav>