<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{{user.photoUrl}}" alt="{{user.knownAs}}" class="card-img-top img-thumbnail">
        <div class="card-body">
          <div>
            <h5 class="card-title">Location:</h5>
            <p class="card-text">{{user.city}},{{user.country}}</p>
          </div>
          <div>
            <h5 class="card-title">Age:</h5>
            <p class="card-text">{{user.age}}</p>
          </div>
          <div>
            <h5 class="card-title">Last Active:</h5>
            <p class="card-text">{{user.lastActive}}</p>
          </div>
          <div>
            <h5 class="card-title">Member since:</h5>
            <p class="card-text">{{user.created}}</p>
          </div>
          <div class="mt-4">
            <div class="btn-group d-flex">
              <button form="edit-form" [disabled]="!EditForm.dirty" class="btn btn-success w-100">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <form (ngSubmit)="UpdateUser()" id="edit-form" #EditForm="ngForm">

        <div class="tab-panel">

          <tabset class="member-tabset">
            <tab heading='About {{user.knownAs}}'>
              <h4>Description</h4>
              <textarea name="introduction" class="form-control" cols="30" rows="10" [(ngModel)]="user.introduction" ></textarea>
              <h4>Looking For</h4>
              <textarea name="lookingFor" class="form-control" cols="30" rows="10" [(ngModel)]="user.lookingFor"></textarea>

            </tab>
            <tab heading="Interests">
              <h4>Interrests</h4>
              <textarea name="interests" class="form-control" cols="30" rows="10" [(ngModel)]="user.interests"></textarea>

            </tab>

          </tabset>
        </div>
      </form>
    </div>
  </div>
</div>